{% comment %} code change per 4.1.1 customization. added and modified code including schema {% endcomment %}
{%- style -%}
  .superphone-{{ section.id }} {
    background-color: {{ section.settings.color_background }};
    color: {{ section.settings.color_text }};
  }

  .superphone-{{ section.id }} .superphone__input::-webkit-input-placeholder { color: {{ section.settings.color_text }}; }
  .superphone-{{ section.id }} .superphone__input::-moz-placeholder { color: {{ section.settings.color_text }}; }
  .superphone-{{ section.id }} .superphone__input::-ms-input-placeholder { color: {{ section.settings.color_text }}; }
{%- endstyle -%}

<div class="superphone-section superphone-{{ section.id }}{% if show_divider %} superphone-section--with-divider{% endif %}">
  <div class="page-width page-width--narrow text-center">
    {%- for block in section.blocks -%}
      <div class="theme-block" {{ block.shopify_attributes }}>
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'title' -%}
            {%- if block.settings.title != blank -%}
              <p class="h3">{{ block.settings.title | escape }}</p>
            {%- endif -%}
          {%- when 'text' -%}
            {%- if block.settings.text != blank -%}
              <div class="rte">{{ block.settings.text }}</div>
            {%- endif -%}
          {%- when 'form' -%}
            {%- render 'superphone-form', section_id: section.id, snippet_context: 'section' -%}
            {%- if section.settings.superphone_url != blank -%}
              <div class="superphone-link rte"><a href="{{ section.settings.superphone_url }}" target="_blank">{{ section.settings.superphone_text }}</a></div>
            {%- endif -%}
        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "SuperPhone signup",
    "class": "index-section",
    "max_blocks": 6,
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "title",
        "name": "Title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sign up and save"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Subheading",
            "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
          }
        ]
      },
      {
        "type": "form",
        "name": "Form",
        "limit": 1
      }
    ],
    "settings": [
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their phone number added to the SuperPhone app"
      },
      {
        "type": "color",
        "id": "color_background",
        "label": "Background",
        "default": "#f9f9f9"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#1c1d1d"
      },
      {
        "type": "text",
        "id": "superphone_text",
        "label": "SuperPhone text",
        "default": "Click for information"
      },
      {
        "type": "url",
        "id": "superphone_url",
        "label": "SuperPhone URL"
      },
      {
        "type": "checkbox",
        "id": "show_divider",
        "label": "Show divider",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "SuperPhone signup",
        "blocks": [
          {
            "type": "title"
          },
          {
            "type": "text"
          },
          {
            "type": "form"
          }
        ]
      }
    ]
  }
{% endschema %}
